main {
  height: 96vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  overflow-x: hidden;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #fff;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(218, 92, 33);
  color: white;
}

#search {
  margin-bottom: 30px;
}